doctype html
html
  head
    title #{title || 'Home'}

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    block styles
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body(ng-app="English")
    block body

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-resource/angular-resource.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/vendor/angular-sanitize/angular-sanitize.js")


    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/app/module.js")
    script(src="/js/app/directives/checkLesson.js")
    script(src="/js/app/directives/lessonsList.js")
    script(src="/js/app/directives/rulesList.js")
    script(src="/js/app/directives/themesList.js")
    // SCRIPTS END


