<div ng-repeat="lesson in lessons">
  <fieldset class="scheduler-border" ng-class="{'done' : verified[lesson.id].done == true, 'error' : verified[lesson.id].done == false}">
    <legend class="scheduler-border">Упражнение {{$index + 1}}</legend>
    <div id="{{lesson.lesson_type == 'word' ? lesson.id : ''}}">{{lesson.text}}</div>
    <div ng-if="lesson.lesson_type == 'translation'">
      <textarea id="{{lesson.id}}" style="width: 100%;height: 30px;"></textarea>
    </div>
    <div class="clearfix"></div>
    <button ng-click="verify(lesson.id, lesson.lesson_type)" class="btn btn-default pull-right">Check</button>
  </fieldset>
</div>
