<h2>{{rules.title}}</h2>
<div ng-repeat="rule in rules.data">
  <div class="bs-callout"
       ng-class="{'bs-callout-info' : rule.status == 'no_active', 'bs-callout-done' : rule.status == 'done', 'bs-callout-process' : rule.status == 'process', 'bs-callout-error' : rule.status == 'error'}">

    <p ng-bind-html="rule.text | safeHtml"></p>

    <div class="highlight">
      <a ng-if="rule.status == 'no_active'" ng-href="/#/rules/{{rules.link}}/{{rule.id}}">Пройти упражнения <span
        class="glyphicon glyphicon-education"></span></a>
      <a ng-if="rule.status == 'process'" ng-href="/#/rules/{{rules.link}}/{{rule.id}}">Упражнения в процессе выполнения <span
        class="glyphicon glyphicon-time"></span></a>
      <a ng-if="rule.status == 'done'" ng-href="/#/rules/{{rules.link}}/{{rule.id}}">Упражнения пройдены без ошибок <span
        class="glyphicon glyphicon-ok"></span></a>
      <a ng-if="rule.status == 'error'" ng-href="/#/rules/{{rules.link}}/{{rule.id}}">Есть ошибки. Пройти упражнения ещё раз <span
        class="glyphicon glyphicon-education"></span></a>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
