<h2>Артикль</h2>
<div class="bs-callout bs-callout-info">
  <p>
    Перед каждым нарицательным существительным должен стоять артикль.
    <br />
    Если вы не употребляете перед существительным артикль, вы должны уметь объяснить, почему.
    <br />
    Артикль не употребляется, если перед существи­тельным стоит притяжательное или указательное мес­тоимение, другое существительное в притяжательном падеже, количественное числительное или отрицание "<b>nо</b>" (не "<b>not</b>"!).
  </p>
  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>

<div class="bs-callout bs-callout-info">
  <p>
    Упоминая предмет впервые, мы употребляем пе­ред ним неопределенный артикль <b>a (an)</b>. Упоминая этот же предмет вторично, мы ставим перед ним определенный артикль <b>the</b>.
    <br />
    <b>• E.g.</b> This is <b>a</b> book. <b>The</b> book is interesting.
  </p>
  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>

<div class="bs-callout bs-callout-info">
  <p>
    Неопределенный артикль <b>a (an)</b> может употреб­ляться только с исчисляемыми существительными, стоящими в единственном числе. Перед неисчисляе-мыми существительными или существительными во множественном числе неопределенный артикль опус­кается. Определенный артикль <b>the</b> употребляется как с исчисляемыми, так и с неисчисляемыми существи­тельными, как с единственным, так и с множествен­ным числом.-
    <br />
    <b>• E.g.   This is a book. The book is interesting.</b>
    <br />
    исчисляемое в единственном числе
    <br />
    <b>This is ✓ meat. The meat is fresh.</b>
    <br />
    неисчисляемое
    <br />
    <b>These are ✓ books. The books are good.</b>
    <br />
    множественное число
  </p>
  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>

<div class="bs-callout bs-callout-info">
  <p>
    Запомните следующие словосочетания, в которых артикль не употребляется:
    <br />
    <b>at ✓ school</b>
    <br />
    <b>at ✓ home</b>
    <br />
    <b>at ✓ work</b>
  </p>
  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>

<div class="bs-callout bs-callout-info">
  <p>
    Запомните следующие словосочетания, в которых артикль не употребляется:
    <br />
    <b>at ✓ school</b>
    <br />
    <b>at ✓ home</b>
    <br />
    <b>at ✓ work</b>
  </p>
  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>
