<h2>Артикль</h2>

<div class="bs-callout bs-callout-info">
  <p>
    Запомните следующие словосочетания, в которых артикль не употребляется:
    <br />
    <b>at ✓ school</b>
    <br />
    <b>at ✓ home</b>
    <br />
    <b>at ✓ work</b>
  </p>

  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>

<div class="bs-callout bs-callout-info">
  <p>
    Запомните также следующие предложения: <br />
    <b>The (book) is on the (table).</b> <br />
    • Ho:   The (book) is on a little (table)
    <sup><abbr data-toggle="tooltip" data-original-title="dwqdqw">1</abbr></sup>.
  </p>

  <div class="highlight">
    <a href="javascript: void(0);">Пройти упражнения <span class="glyphicon glyphicon-education"></span></a>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
